NET "scl" LOC = "N10";
NET "sda" LOC = "P11";
NET "scl_aux" LOC = "U11";
NET "sda_aux" LOC = "V11";
NET "clk" LOC = "V10";

NET "scl" SLEW = FAST;
NET "sda" SLEW = FAST;
NET "scl" PULLUP;
NET "sda" PULLUP;

NET "d" LOC = "K2";
NET "d_n" LOC = "K1";
NET "pwm_rst" LOC = "T5";
NET "integrator_u_rst" LOC = "V8";
NET "integrator_i_rst" LOC = "U8";
NET "switch_i_ref" LOC = "N8";


NET "anodes<0>" LOC = "N16";
NET "anodes<1>" LOC = "N15";
NET "anodes<2>" LOC = "P18";
NET "anodes<3>" LOC = "P17";

NET "cathodes<0>" LOC = "T17";
NET "cathodes<1>" LOC = "T18";
NET "cathodes<2>" LOC = "U17";
NET "cathodes<3>" LOC = "U18";
NET "cathodes<4>" LOC = "M14";
NET "cathodes<5>" LOC = "N14";
NET "cathodes<6>" LOC = "L14";
NET "cathodes<7>" LOC = "M13";

NET "btn_add" LOC = "A8";
NET "btn_sub" LOC = "C9";
NET "btn_next" LOC = "D9";
NET "btn_prev" LOC = "C4";

NET "neg_flag" LOC = "U16";